.container {
    width: 100%;
    padding-bottom: 100px;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .sec1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .sec11{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
    text-align: start;
 }
 .sec11 div button{
    width: 30%;
    height: 30px;
    background-color: #c11;
    color: #eee;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 20px;
 }
.sec12{
    overflow: hidden;
    width: 90%;
    height: 800px;
    border: 1px solid transparent;
    border-radius: 100px;
    transform: rotate(25deg);
    margin: -350px;
    margin-right: -200px;

}
sec12 img{
    margin: 0;
    transform: rotate(-25deg);
    height: 1100px;
    width: 130%;
    padding-right: 400px;
    padding-bottom: 700px;

}

.sec2 { display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 400px;
    /* margin-left: auto; 
    margin-right: auto; */ 
    justify-content: center;
        
}
.sec21 { width: 600px; 
    height: 400px; 
    display: flex;
    overflow: hidden;
}
.sec21 img { 
    width: 100%; 
    height: 100%; 
    margin: auto;
}
.containerShortImg{ 
    display: flex; 
    flex-direction: row; 
    margin-left: -180px; 
    margin-top: 70px;
}
.container {
    width: 100%;
    padding-bottom: 100px;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .sec1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .sec11{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
    text-align: start;
 }
 .sec11 div button{
    width: 30%;
    height: 30px;
    background-color: #c11;
    color: #eee;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 20px;
 }
.sec12{
    overflow: hidden;
    width: 90%;
    height: 800px;
    border: 1px solid transparent;
    border-radius: 100px;
    transform: rotate(25deg);
    margin: -350px;
    margin-right: -200px;

}
sec12 img{
    margin: 0;
    transform: rotate(-25deg);
    height: 1100px;
    width: 130%;
    padding-right: 400px;
    padding-bottom: 700px;

}

.sec2 { display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 400px;
    /* margin-left: auto; 
    margin-right: auto; */ 
    justify-content: center;
        
}
.sec21 { width: 600px; 
    height: 400px; 
    display: flex;
    overflow: hidden;
}
.sec21 img { 
    width: 100%; 
    height: 100%; 
    margin: auto;
}
.containerShort Img{ 
    display: flex; 
    flex-direction: row; 
    margin-left: -180px; 
    margin-top: 70px;
}

    
.shortImg { width: 400px; 
    height: 250px;
    border: 10px solid 
    
}
.shortImg img {
    width: 100%; 
    height: 100%;
}
.overImg {
    text-align: center;
}
.overImg p{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    }

    



